{% extends 'layouts/home.twig' %}
{% block body %}
    <h2>Вход в систему</h2>
    <form action="/auth/login" method="post">
        <div class="mb-3">
            <label for="login-form" class="form-label">Имя пользователя</label>
            <input
                    name="login"
                    class="form-control {% if errors.login %} is-invalid  {% endif %}"
                    id="login-form"
                    placeholder="Введите имя пользователя">
            <div id="login-formFeedback" class="invalid-feedback">{{ errors.login }}</div>
        </div>

        <div class="mb-3">
            <label for="password-form" class="form-label">Пароль</label>
            <input
                    type="password"
                    name="password"
                    class="form-control {% if errors.password %} is-invalid  {% endif %}"
                    id="password-form"
                    placeholder="Введите имя пользователя">
            <div id="password-formFeedback" class="invalid-feedback">{{ errors.password }}</div>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Войти</button>
        <a href="/">Вернуться</a>
    </form>

{% endblock %}
